<h1>Anagram Finder</h1>
<form action="/finished_product">
  <div class="form-group">
    <label for="target">Enter your sentence to find anagrams</label>
    <input id="target" name="target" class="form-control" type="text">
  </div>
  <div class="form-group args-container">
    <span>Enter your words or arguments</span>
    <input name="arg1" class="form-control" type="text">
    <input name="arg2" class="form-control" type="text">
    <input name="arg3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Find Anagrams!</button>
</form>
